body {
  margin: 0;
  background: #f3f4f6;
  font-family: system-ui;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.app {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 24px;
  max-width: 900px;
  margin: 40px auto;
}


aside,
main {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

#categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

#categories li {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

#categories li:hover {
  background: #9b9191;
}

.active {
  background: #7EA1C4;
  color: white;
  font-weight: 500;
}


#books {
  list-style: none;
  padding: 0;
}

#books li {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 8px;
  background: #f9fafb;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

form {
  margin-top: 16px;
  display: grid;
  gap: 10px;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

button[type="submit"] {
  background: #7EA1C4;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

li,
button,
input,
select {
  transition: all 0.2s ease;
}

#books li:hover {
  transform: translateY(-2px);
  background: #eef2ff;
}

button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  aside {
    order: 2; /* категории ниже main */
  }

  main {
    order: 1;
  }
}

@media (max-width: 480px) {
  .app {
    margin: 20px 12px;
    gap: 12px;
  }

  input, select, button[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }

  #books li, #categories li {
    padding: 8px 10px;
    font-size: 14px;
  }
}